@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  font-family: 'IBM Plex Sans', sans-serif;
}

.heading{
  color: white;
  text-align: center;
}
.curriculam{
  color: #8080FF;
}
.card-text{
  background-color:#3F3F46 ;
 
}

.ds{
  color: white;
}
.subdiv{
  display: flex;
  justify-content: space-evenly;
 
}
.nav-item{
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: 500;
}
.nav-link:hover{
    color: black;
    border-radius: 5px;
    background: rgba(59, 57, 57, 0.8);
}
.navbar{
  height: 10vh;
  backdrop-filter: blur(8px);
  position: fixed;
  background-color:  rgba(0,0,0,0.8);
}
.sectionone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding-top: 15vh;
    background-color: black;
    padding-bottom: 5vh;
}
.text{
  color: #8080FF;
}
.arrow-container {
  width: 25px;
  /* cubic-bezier-easing = sine / mehr Beispiele: https://easings.net/ */
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  height: 20px;
}

.arrow-down {
  height: 6px;
  background: black;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  border-radius: 1px;
  padding-top: 15vh;
}
.rightdiv{
  background-color: #3F3F46;
}
.arrow-down:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 100%;
  border-radius: 1px;
  background: black;
  transform: rotate(-90deg);
  transform-origin: 0% 100%;
}
.cards{
 padding: 0 7vh;
}
.card-two{
  padding-top: 5vh;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 24vh;
  justify-content: space-around;
  background-color: #27272A;
  
}
.divone{
  color: white;
  padding: 10px;
  text-align: center;
}
.signin:hover{
  background-color:  rgba(255,255,255,0.1);
}
.divtwo{
  color: white;
}
.divthree{
  color: white;
}

.navbar-brand{
  padding-left: 5vw;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
}
.nav-item a{
 padding-left: 2vw;

}
.btn{
  width: 7vw;
  height: 6vh;
  padding-right: 5vw;
}
.cone{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  
  
}
.eachcard{
  border: 1px black;
  margin-top: 10vh;
  border-radius: 20%;
}

.card-one{
  background: #27272A;
  margin-top: 0px;
}
@keyframes bounce {
50% {
    transform: translateY(-15px);
  }
}
.cardimg{
  width: 10%;
}
.rightdiv{
  padding: 15px;
}
.fa-brands{
  color: white;
  margin-right: 10px;
  font-size: 25px;
}
